@charset "UTF-8";

main{
	text-align:center;
	background-color:#ffffd9;
	height:420px;
	}

.money,.sum,.sagaku{
	font-size:20px;
	display:inline;
}
#money,#sum,#sagaku{
	font-size:20px;
	font-weight:bold;
	color:orange;
	display:inline;
}

span{
	color:orange;
	font-weight:bold;
}

.ca{
	margin-top:30px;
}
.ca label{
	font-size:20px;
}

.tx{
	margin-top:30px;
}
.tx label{
	font-size:20px;
}

.btn{
	margin-top:30px;
}

.back{
	font-size:20px;
	margin-top:30px;
}

#msg{
	color:#ff5706;
	font-size:20px;
	font-weight:bold;
	margin-bottom:20px;
}
