@charset "UTF-8";

main{
	text-align:center;
}

/*目標金額は￥のところ*/
.money{
	font-size:20px;
	display:inline;
}

.sum{
	font-size:20px;
	display:inline;
}

.sagaku{
	font-size:20px;
	display:inline;
}

/*自動で取得する何円かというところ*/
#money{
	font-size:20px;
	font-weight:bold;
	color:orange;
	display:inline;
}

#sum{
	font-size:20px;
	font-weight:bold;
	color:orange;
	display:inline;
}
#sagaku{
	font-size:20px;
	font-weight:bold;
	color:orange;
	display:inline;
}

span{
	color:orange;
	font-weight:bold;
}

.ca{
	margin-top:30px;
}
.ca label{
	font-size:20px;
}

.tx{
	margin-top:30px;
}
.tx label{
	font-size:20px;
}

.btn{
	margin-top:30px;
}

.back{
	font-size:20px;
	margin-top:30px;
}

.msg{
	color:orange;
	font-size:20px;
	font-weight:bold;
	margin-bottom:20px;
}