@charset "UTF-8";
main {
	text-align:center;
}
/*目標金額は￥のところ*/
.money{
	font-size:20px;
	display:inline;
}

.sum{
	font-size:20px;
	display:inline;
}

.sagaku{
	font-size:20px;
	display:inline;
}

/*自動で取得する何円かというところ*/
#money{
	font-size:20px;
	font-weight:bold;
	color:orange;
	display:inline;
}

#sum{
	font-size:20px;
	font-weight:bold;
	color:orange;
	display:inline;
}
#sagaku{
	font-size:20px;
	font-weight:bold;
	color:orange;
	display:inline;
}

/*グラフ*/
#myChart{
	margin-left: auto;
    margin-right: auto;
    height:300px;
    display:block;
    text-align:center;
}

/*+今日の記録(可能なら良い感じの画像にしたかったが、暫定として四方を線で囲んだ)*/
.rec{
	display:block;
	font-size:40px;
	margin-bottom:20px;
}
.rec a{
	background-color:white;
	border-top:solid 2px orange;
	border-bottom:solid 2px orange;
	border-left:solid 2px orange;
	border-right:solid 2px orange;

}
 .rec a:link,.rec a:visited,.rec a:active {
  color: #1c1c1c;
  text-decoration:none;
}

.rec a:hover{
	color:orange;
	text-decoration:none;
}