

@charset "UTF-8";

main{
	margin:	0 auto 0 auto;
	/*padding-top: 55px;*/
	text-align:center;
}

/*ユーザー記入欄 form周辺設定*/
/*formとdivタグのcss停止中(下のformadd実行中)*/
/*form{*/
/*	width: 800px; */
/*	max-width:900px; */
/*	/*padding: 	8px;*/
/*	text-align:center; */
/* } */

/* div#table{ */
/*	width:		750px; */
/*	height:		400px; */
/*	overflow:	auto; */
/* } */

/*フォームタグの外側を更にdivタグで囲いレシピ欄を中央揃え*/
.addform {
  width: 300px;/*フォーム周りの横幅*/
  margin: 0 auto;/*中央寄せ*/
  padding: 60px 0;
}

input[name=recipe] {
	width:		20em;
}
input[name=cost] {
	width:		4em;
}
input[name=time] {
	width:		4em;
}
input[name=url] {
	width:		20em;
}
input {
    text-align: center;
}
textarea[name=remarks] {
	width:		20em;
	height:		5em;
	text-align: center;
}


/*「※は必須項目です」と、※部分を赤字表記に*/
span{
	color: #ff0000;
}

/*エラー内容を赤で表示(ログインjsp準拠)*/
#err{
	color: #ff0000;
}

/*レシピ追加におけるモーダルウィンドウ*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}


/*ボタン共通CSS-確定ボタン*/
/*確定ボタン*/
/*各ボタン周辺のマージン消去中：margin: 20px;*/
.button {
  border: 2px solid transparent;
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  background: linear-gradient(to right bottom, #FFA500, #FF6347);
  border-radius: 5px;
  color: #fff;
  transition: 0.3s;
}

.button:hover {
  opacity: .8;
  cursor : pointer;
}


/*ホームへ戻るボタン(サブボタン)*/
.subbutton {
  outline: 1px solid black;
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  background: linear-gradient(to right bottom, #FFFFFF, #D3D3D3);
  border-radius: 5px;
  color: #000000;
  transition: 0.3s;
  border : none;
}

.subbutton:hover {
  opacity: .8;
  cursor : pointer;
}


/* オーバーレイ */
.overlay {
  /* 位置を固定 */
  position: fixed;
  top: 0;
  left: 0;
  /* 画面いっぱいに広がるようにする */
  width: 100%;
  height: 100vh;
  /* rgbaを使って60%の黒いオーバーレイにする */
  background: rgba(0, 0, 0, 0.6);
  /* デフォルトでは見えないようにする */
  opacity: 0;
  visibility: hidden;
  /* 表示する際の変化の所要時間 */
  transition: .3s;
}

/* activeクラスのついたオーバーレイ */
.overlay.active {
  /* activeクラスがついたときにオーバーレイを表示する */
  opacity: 1;
  visibility: visible;
}

/* モーダルウィンドウ */
.modal {
  max-width: 500px;
  width: 86%;
  padding: 15px 20px;
  background: #fff;
  /* 位置の調整(真ん中に表示) */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* デフォルトでは非表示にしておく */
  opacity: 0;
  visibility: hidden;

  /* 表示の変化にかかる時間 */
  transition: .3s;
}

/* activeクラスのついたモーダルウィンドウ */
.modal.active {
  opacity: 1;
  visibility: visible;
}

/*モーダルウィンドウの×閉じるボタンは無し。「いいえ」を押すと閉じる仕様へ変更。/*
/* モーダルウィンドウ内の閉じるボタン */
/*.modal .close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
}
*/

.modal h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}

.modal p {
  font-size: 13px;
}

/* スクロールできる高さを出すための設定*/
/*フッターの関係で一時停止中*/
/*section {
  height: 200vh;
}
*/
