@charset "UTF-8";
/* モーダルウィンドウ */
.modalform {
  /* 位置の調整(真ん中に表示) */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* モーダルウィンドウ内の閉じるボタン */
.modalform .close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
}
/* モーダルウィンドウ */
.modalform {
  /* デフォルトでは非表示にしておく */
  opacity: 0;
  visibility: hidden;
  /* 表示の変化にかかる時間 */
  transition: .3s;
  max-width: 830px;
  width: 300%;
  padding: 20px 20px;
  background: #fff;
  /* 位置の調整(真ん中に表示) */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* activeクラスのついたモーダルウィンドウ */
.modalform.active {
  opacity: 1;
  visibility: visible;
}
/* オーバーレイ */
.overlay {
  /* デフォルトでは見えないようにする */
  opacity: 0;
  visibility: hidden;
}
/* オーバーレイ */
.overlay {
  /* 位置を固定 */
  position: fixed;
  top: 0;
  left: 0;
  /* 画面いっぱいに広がるようにする */
  width: 100%;
  height: 100vh;
  /* rgbaを使って60%の黒いオーバーレイにする */
  background: rgba(0, 0, 0, 0.6);
}
/* activeクラスのついたオーバーレイ */
.overlay.active {
  /* activeクラスがついたときにオーバーレイを表示する */
  opacity: 1;
  visibility: visible;
}




main {
	background-color:#ffffd9;
	height:666px;
	text-align: center;
}

table {
	margin:auto;

}

.button {
  border: 2px solid transparent;
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  background: linear-gradient(to right bottom, #FFA500, #FF6347);
  border-radius: 5px;
  color: #fff;
  transition: 0.3s;
}
