@charset "UTF-8";
/*全体背景色など*/
main{
	background-color:#ffffd9;
	height:468px;
}

/* ボタンのCSS */
input[type=submit] {
  border: 2px solid transparent;
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  background: linear-gradient(to right bottom, #FFA500, #FF6347);
  border-radius: 5px;
  color: #fff;
  transition: 0.3s;
}

/* タイトルの調整 */
h2{
	width: 300px;
	height: 50px;
	margin-left: 40px;
	margin-top: 10px;
}

/* フォームの位置調整 */
.form{
	width: 500px;
	height: 500px;
	margin-left: 60px;
	margin-top: 10px;
}

/* ボタンとの間隔調整 */
.sub{
	width: 6em;
}

/* エラーメッセージの色 */
#err{
	color: #ff0000;
}

footer {
	width: 100%; height: 100px; background-color:#ffac59; color:#1c1c1c; border-top:3px solid #ee7d00;
}